.container{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}
.firstSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.secondSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}